<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<div class="card">
		<div class="card-body">
			<h3 class="card-title">Tambah Karyawan</h3>			
			<form class="forms-sample" id="form-karyawan-tambah"
				method="post">
				<div class="form-group">
					<label>Kode Karyawan</label> <input type="text"
						class="form-control" name="kodeKaryawan"
						th:value="${kodeGenerator}" readonly="yes" />
				</div>
				<div class="form-group">
					<label>Nama Karyawan</label> <input type="text"
						class="form-control" placeholder="Masukkan Nama Karyawan"
						name="namaKaryawan">
				</div>
				<div class="form-group">
					<label>Tanggal Lahir</label> <input type="date"
						class="form-control" placeholder="Masukkan Tanggal Lahir Karyawan"
						name="tglLahirKaryawan">
				</div>
				<div class="form-group">
					<label>Kota Karyawan</label> <select class="form-control"
						name="idKota">
						<option selected>---Pilih---</option>
						<option th:each="kotaModel : ${kotaModelList}"
							th:value="${kotaModel.idKota}" th:utext="${kotaModel.namaKota}"></option>
					</select>
				</div>
				<div class="form-group">
					<label>Upload Foto</label>
					<div class="input-group col-xs-12">
						<input type="file" class="form-control file-upload-info" name="foto"
							placeholder="Pilih Foto">
						<!-- <button class="file-upload-browse btn btn-info" type="file">Upload</button> -->
					</div>
				</div>
				<button type="submit" class="btn btn-success mr-2">Submit</button>
				<button class="btn btn-light" data-dismiss="modal">Cancel</button>
			</form>
		</div>
	</div>

</body>
</html>